<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- If you delete this tag, the sky will fall on your head -->
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>
    <style type="text/css">
      body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
        width: 100% !important;
        height: 100%;
        margin: 0;
      }

      table.body-wrap {
        width: 100%;
        text-align: center;
        vertical-align: central;
      }

      .container {
        display: block !important;
        max-width: 600px !important;
        margin: 0 auto !important;
        clear: both !important;
      }

      .content {
        padding: 0;
        max-width: 600px;
        margin: 0 auto;
        display: block;
      }

      .content table {
        width: 100%;
      }

      .column tr td {
        padding: 15px;
      }

      .column table {
        width: 100%;
      }

      .social {
        width: 280px;
        min-width: 279px;
        float: left;
      }

      a {
        text-decoration: none;
      }

      @media only screen and (max-width: 600px) {
        .social-img img {
          width: 35px !important;
        }
      }
    </style>
  </head>
  <body
    bgcolor="#FFFFFF"
    style="
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      height: 100%;
      margin: 0;
      width: 100% !important;
    "
  >
    <!-- BODY -->
    <div
      style="
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
      "
    >
      <div
        class="
          m_3154419529324967122email-fillWidth
          m_3154419529324967122email-backgroundWhite
        "
        style="min-width: 100%; width: 100%; background-color: #ffffff"
      >
        <!-- HEADER -->
        <table
          class="body-wrap"
          align="center"
          cellspacing="0"
          style="text-align: center; width: 100%; vertical-align: central"
        >
          <tr>
            <td
              class="container"
              bgcolor="#FFFFFF"
              align="center"
              style="
                display: block !important;
                max-width: 600px !important;
                margin: 0 auto !important;
                clear: both !important;
              "
            >
              <div
                class="content"
                style="
                  padding: 0;
                  max-width: 600px;
                  margin: 0 auto;
                  display: block;
                "
              >
                <table style="width: 100%">
                  <tr>
                    <td height="60">
                      <a
                        href=""
                        style="
                          width: 72px;
                          height: 72px;
                          float: left;
                          margin-top: 10px;
                        "
                      >
                        <img
                          src=""
                          title=""
                          alt=""
                          style="max-width: 100%"
                        />
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>

        <!-- CONTENT TABLE -->
        <table
          class="body-wrap"
          align="center"
          cellspacing="0"
          style="text-align: center; width: 100%; vertical-align: central"
        >
          <tr>
            <td></td>
            <td
              class="container"
              bgcolor="#FFFFFF"
              align="center"
              style="
                display: block !important;
                max-width: 600px !important;
                margin: 0 auto !important;
                clear: both !important;
              "
            >
              <div
                class="content"
                style="
                  padding: 0;
                  max-width: 600px;
                  margin: 0 auto;
                  display: block;
                "
              >
                <table style="width: 100%">
                  <tr>
                    <td>
                      <div
                        style="
                          color: #555;
                          font-size: 16px;
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          line-height: 26px;
                          margin-top: 15px;
                          margin-bottom: 10px;
                        "
                      >
                        Şifrenizi sıfırlamak için aşağıdaki bağlantıyı
                        kullanabilirsiniz.
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        style="
                          color: #757575;
                          font-size: 14px;
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          line-height: 26px;
                          margin-top: 15px;
                          margin-bottom: 10px;
                        "
                      >
                        <span style="font-style: italic"
                          >Not: bağlantı 72 saat boyunca geçerlidir.</span
                        >
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
            <td></td>
          </tr>
        </table>

        <!-- FOOTER -->
        <table
          class="body-wrap"
          align="center"
          cellspacing="0"
          style="
            text-align: center;
            margin-top: 20px;
            width: 100%;
            vertical-align: central;
          "
          bgcolor="#f2f2f2"
        >
          <tbody>
            <tr>
              <td></td>
              <td
                class="container"
                align="center"
                bgcolor="#f2f2f2"
                style="
                  border: none;
                  display: block !important;
                  max-width: 600px !important;
                  margin: 0 auto !important;
                  clear: both !important;
                "
              >
                <div
                  class="content"
                  style="
                    background: #f2f2f2;
                    border: none;
                    padding: 0;
                    max-width: 600px;
                    margin: 0 auto;
                    display: block;
                  "
                >
                  <table style="width: 100%">
                    <tbody>
                      <tr>
                        <td align="center">
                          <span
                            style="
                              font-size: 12px;
                              color: #898989;
                              font-family: 'Helvetica Neue', Helvetica, Arial,
                                sans-serif;
                              display: block;
                              margin-bottom: 20px;
                            "
                            >© 2023 Aykut KIRCAN.</span
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /BODY -->
  </body>
</html>
